img {
    max-width: 100%;
}

.random__btn {
    background: linear-gradient(
        -45deg,
        #ee7752,
        #e73c7e,
        #23a6d5,
        #94be1f,
        #9ae4d3,
        #23d5ab
    );
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    box-shadow: 0px 0px 15px 2px #d9e4e2;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
